#welcome {

  .double-column {

    #left, #right {
      background-color: white;
    }

    #left {

      .sketch {
        margin: 2em auto;

        .title {
          font-family: Andalus;
        }

        p {
          margin: 1em;
          text-align: center;

          img {
            padding: 0.5em;
            border: thick solid #094e33;
            border-radius: 1em;
            width: 90%;
            max-width: 15em;
          }
        }
      }
    }

    #right {

      .quote-block {
        margin: 2em 1em;

        .quote {
          font-style: italic;
          margin-bottom: 0.5em;
        }

        .source {
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
}